.header__lang-link {
    font-size: 24px;
    line-height: 1.17;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: .8;
    transition: .3s linear;
  }

  @media screen and (max-width: 740px) {
    .header__lang-link {
    font-size: 20px;
    line-height: 1.2;
    }
  }
  
  @media screen and (max-width: 425px) {
    .header__lang-link {
    font-size: 18px;
    line-height: 1.33;
    }
  }
 