@import url(../place/place.css);

.places {
    margin: 92px auto 0;
    max-width: 984px;
}

@media screen and (max-width: 1150px) {
    .places {
      margin: 92px 48px 0 48px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .places {
      margin: 88px 24px 0 24px;
    }
  }
  
  @media screen and (max-width: 560px) {
    .places {
      margin: 64px 0 0;
    }
  }