.places__title {
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0;
    
  }
}
