.cover__subtitle {
    margin-top: 32px;
    margin-bottom: 245px;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #fff;
    max-width: 360px;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin-bottom: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 115px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-top: 16px;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
  }
}
