@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang/header__lang.css);
@import url(./__lang-link/header__lang-link.css);

.header {
    max-width: 1184px;
    margin: 28px auto 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
