.footer__link {
    color: #fff;
    text-decoration: none;
    margin-right: 18px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.12;
    padding: 0;
}

.footer__link:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.footer__link:hover{
    opacity: .8;
    transition: .3s linear;
  }

  @media screen and (max-width: 710px) {
    .footer__link {
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 1;
    }
  }