.footer__link {
    color: #fff;
    text-decoration: none;
    margin-right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    padding: 0;
}

.footer__link:hover{
    opacity: .7;
    transition: .3s linear;
  }