.footer__links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 710px) {
    .footer__links {
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 48px;
    }
  }