.intro {
  margin: auto;
  width: 690px;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media screen and (max-width: 767px) {
  .intro {
    width: 90%;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding-right: 238px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-right: 294px;
  }
}

