.cover__overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
    text-decoration: none;
    color: #fff;
    align-items: center;
  }
  
  .cover__overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(42,44,47);
    opacity: .3;
    transition: opacity .4s linear;
  }

  .cover__overlay:hover::before {
      opacity: .8;
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__overlay {
      
      width: 100%;
      /* padding-bottom:100%; */
      
      
      
    }
  }