.cover__background {
    background-image: url('../../../images/cover__background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
}

.cover__background::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: .3;
    transition: .5s linear;
}

.cover__background:hover::after {
    opacity: .8;
}