.lead__caption {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin: 8px auto auto 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    margin: 8px auto 0 24px;
  }
}
