.cover__title {
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 1.06;
text-align: center;
max-width: 560px; 
color: #fff;
z-index: 1;
margin: 0;
padding-top: 245px;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media screen and (max-width: 740px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    padding-top: 33px;

    max-width: 288px;
  }
}