.footer {
  max-width: 1184px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin: 64px auto 24px 16px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 64px 24px 24px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1184px) {
  .footer {
    margin: 0 48px 24px;
  }

}

/* @media screen and (max-width: 1184px) {
  .footer {
    max-width: 984px;
  }
} */
